body{
     background-color:rgba(192,192,192,0.3)
}

h1 {
    color:red;
    text-align:center;
    font-size:50px;
}

.imageOfAriano {
    display:block;
    margin:0px auto;
    text-align:center;
}

.hero{
	position: relative;
}

.pageTitle{
	position: absolute;
	top:15%;
	left: 30%;
	color: white;
	text-shadow: 2px 2px 4px #000000;
	font-size: 30px;
	word-spacing: 10px;
	text-align: center;
}


#heroImg {
	  width: 100%;
	margin:1%;
	opacity:0.5;
}

.fragment{
	 margin-top:50px;
}

.theMunicipalVilla, .theCathedral, .theBiogem {
	width:67%;
	Float:right;
	Text-align:justify;
	padding: 15px;		 
}

#theMunicipalVilla, #theCathedral, #theBiogem {
	width:30%;
	padding-top:40px;	
}



















